/* ==========================================================================
   Radio Image Enhanced
   ========================================================================== */

$wp-color-blue: #0073aa;
$wp-color-medium-blue: #00a0d2;
$wp-color-accent-red: #dc3232;
$wp-color-ultra-dark-gray: #191e23;
$wp-color-dark-gray: #23282d;
$wp-color-base-gray: #32373c;
$wp-color-dark-silver-gray: #82878c;
$wp-color-gray-light-800: lighten($wp-color-base-gray, 52%);
$wp-color-gray-light-500: lighten($wp-color-base-gray, 68%);
$wp-color-gray-light-200: lighten($wp-color-base-gray, 74%);
$wp-color-gray-light-100: lighten($wp-color-base-gray, 77%);

/* ==========================================================================
   Radio
========================================================================== */

.cf-radio__list {
	margin: 0;

	.cf-radio-image-enhanced & {
		display: flex;
		flex-wrap: wrap;
	}
}

.cf-radio__list-item {
	&:last-child {
		margin-bottom: 0;
	}

	.cf-radio-image-enhanced & {
		flex: 0 0 20%;
		position: relative;
		padding: 4px;
	}
}

.cf-radio__label {
	.cf-container-term-meta & {
		display: inline;
	}

	.cf-radio-image-enhanced & {
		display: inline-block;
	}
}

.cf-radio__input {
	.cf-field & {
		margin-top: 0;
	}

	.cf-radio-image-enhanced & {
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		margin: 0;
		outline: 0;
		opacity: 0;
	}
}

.cf-radio-image-enhanced__image {
	display: block;
	max-width: 100%;
	padding: 5px;
	box-sizing: border-box;
}


.cf-radio__list {
	.wp-block & {
		list-style: none outside none;
	}
}

.cf-radio__list-item {
	box-sizing: border-box;

	.cf-container-term-meta & {
		flex: 0 0 20%;
	}

	.cf-container-theme-options & {
		flex: 0 0 10%;
	}
}

.cf-radio-image-enhanced__image {
	border: 1px solid $wp-color-gray-light-500;
	margin-bottom: 6px;
	.cf-radio__input:focus ~ .cf-radio__label &,
	.cf-radio__input:checked ~ .cf-radio__label & {
		outline: 4px solid $wp-color-medium-blue;
	}
}
